.navbar {
    // position: relative;
    width: 30rem;
    height: 100%;
    margin-top: 12rem;
    &__nav {
        height: inherit;
        &--lists {
            @include Flex(center, center, column);
            margin-right: 4rem;
        }
        &--list {
            position: relative;
            width: 18rem;
            @include Flex(center, center);
            padding: 2rem;
            color: $color-gray;
            & svg {
                width: 6rem;
                margin-right: 2.5rem;
            }
            &-text {
                width: 5rem;
                cursor: pointer;
            }
        }
    }
}

.logout {
    @include Flex(flex-end, center, column);
    width: 30rem;
    height: 40rem;
    padding: 10rem 0;
    &__btn {
        cursor: pointer;
    }
}

.ribbon {
    position: absolute;
    width: 127px;
    height: 76px;
    left: -4rem;
    top: 0px;
    background: $purple-gradient;
    border-radius: 0px 38px 38px 0px;
    z-index: -1;
}

.active {
    &__text {
        color: $color-blue !important;
    }
    &__icon {
        & * {
            fill: $color-bg-white;
        }
        fill: $color-bg-white;
    }
}

.dark-mode {
    background-color: $color-bg-dark;
    & span {
        color: $color-bg-white;
    }
    & .btn {
        background: linear-gradient(135.81deg, rgb(41 41 41) 4.06%, rgb(255 252 252 / 5%) 95.82%);
    }
}