.navbar {
    // position: relative;
    width: 30rem;
    height: 100%;
    margin-top: 10rem;
    &__nav {
        height: inherit;
        &--lists {
            @include Flex(center, center, column);
            margin-right: 4rem;
        }
        &--list {
            position: relative;
            width: 18rem;
            @include Flex(center, center);
            padding: 2rem;
            color: $color-gray;
            & svg {
                width: 6rem;
                margin-right: 2.5rem;
            }
            &-text {
                width: 5rem;
                cursor: pointer;
            }
        }
    }
}

.logout {
    @include Flex(center, center, column);
    width: 30rem;
    height: 30rem;
}

.btn {
    @include Flex(center, center);
    box-sizing: border-box;
    width: 18rem;
    height: 6.1rem;
    background: linear-gradient(135.81deg, rgba(255, 255, 255, 0.4) 4.06%, rgba(255, 255, 255, 0.05) 95.82%);
    border: 2px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7.5px);
    cursor: pointer;
    margin: 1rem 0;
    border-radius: 20px;
    & svg {
        margin-right: 1rem;
    }
}

.ribbon {
    position: absolute;
    width: 127px;
    height: 76px;
    left: -4rem;
    top: 0px;
    background: linear-gradient(270deg, #618FF0 0%, #26D1DB 103.49%);
    border-radius: 0px 38px 38px 0px;
    z-index: -1;
}

.active {
    &__text {
        color: $color-blue;
    }
    &__icon {
        & * {
            fill: $color-bg-white;
            // stroke: $color-bg-white;
        }
        fill: $color-bg-white;
    }
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5rem;
    height: 3rem;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-left: 1rem;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #bada55;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 2rem;
}