@font-face {
    font-family: 'Neue';
    src: fonts('Neue Haas Grotesk Display Pro 65 Medium.eot');
    src: fonts('Neue Haas Grotesk Display Pro 65 Medium.eot?#iefix') format('embedded-opentype'), fonts('Neue Haas Grotesk Display Pro 65 Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}