.title {
    display: inline-block;
    width: calc(100% - 10.5rem);
    color: $color-dark;
    margin-bottom: 1rem;
}

span {
    color: $color-gray;
}

.dark-mode {
    .title {
        color: $color-bg-white;
    }
}